<h5 class="center-align"><b>SoDone組織内行動診断</b></h5>
<h6 class="center-align"><font color="red">※依頼診断版</font></h6>

<p>診断対象者が以下の質問に対し、どう対応するかを想像して回答ください。</p>

<p><b>
  診断実施者：<%= current_user.name %>
  </br>
  診断対象者：<%= @user.name %></b>
</p>

<%= form_tag({controller: :requestedassessment, action: :create },
  id: :assessmentcalculation, class: :assesscalcform) do %>

    <div class="form-group">
      
      <%= hidden_field_tag :requesterid, @user.id, class: 'form-control' %>
      
      <%= label :organizationtype1, 'Question 1 of 24' %>
      
      <div class="questionlist">
        複数階層上の上司に意見を聞く場合、まずは直属の上司に調整をするべきだ。タスクやコミュニケーションが階層を飛び越えるのは良くない。
      </div>
      
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :organizationtype1, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype1, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>

      <%= label :communication1, 'Question 2 of 24' %>
      <div class="questionlist">
        「あの仕事やっておいて。」と依頼した仕事を自分の部下が理解できておらず進捗が遅れていることを発見したときに、部下の理解力やコミュニケーション力が足りていないと感じてしまう。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :communication1, "", 4, required: true %><span> </span> 
          </label>
          <label class="col s2">
            <%= radio_button :communication1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication1, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>    

      <%= label :discussion1, 'Question 3 of 24' %>
      <div class="questionlist">
        会議中に上司が間違った発言をしていても、他の出席者の前で訂正するのではなく、会議後にそれとなく伝えることで上司の面子を保つ。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :discussion1, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion1, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>     

      <%= label :confrontation1, 'Question 4 of 24' %>
      <div class="questionlist">
        部下の評価時においては、自分が考える部下の改善すべき点を明確に相手に伝えるよう心掛け、できなかった点を伝えることに時間を割く。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :confrontation1, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation1, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>     

      <%= label :trust1, 'Question 5 of 24' %>
      <div class="questionlist">
        仕事関係の人とは、会食や飲み会を通じて信頼関係を深めることが有効だ。その人の人間性や感性を知ることで、仕事の成果も高まる。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :trust1, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust1, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>    

      <%= label :decisionmaking1, 'Question 6 of 24' %>
      <div class="questionlist">
        社内の意思決定にはトップの人間であっても、関係者に事前に賛同を得るべきだ。独断で従わせるというやり方では上手くいかない。  
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :decisionmaking1, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking1, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>        

      <%= label :responsibility1, 'Question 7 of 24' %>
      <div class="questionlist">
        チームの仕事が停滞していれば、それが自分の仕事でなくても、残業してでも協力し突破することが一流の条件だ。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :responsibility1, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility1, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>  

       <%= label :value1, 'Question 8 of 24' %>
      <div class="questionlist">
        顧客からの無理な要求を、協力会社や関係者を巻き込んで解決した場合、それは自分の能力ではなく、協力してくれた人のおかげである。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :value1, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value1, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value1, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value1, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value1, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>          

      <%= label :organizationtype2, 'Question 9 of 24' %>
      <div class="questionlist">
        顧客と会話するときは、相手の役職等を気にせず誰とでも平等に接する。相手がどの役職の人間なのかに注意深くなることは本質的ではない。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :organizationtype2, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype2, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>
      
      <%= label :communication2, 'Question 10 of 24' %>
      <div class="questionlist">
        自分の提案内容に対し、上司が少し笑いながら「提案ありがとう。検討します。」と返答した場合には、言葉通り検討してくれると捉える。裏の意味があると考え、過去の発言や行動を振り返りはしない。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :communication2, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication2, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>  

      <%= label :discussion2, 'Question 11 of 24' %>
      <div class="questionlist">
        会議の出席者からの質問に対し、回答の担当チームが質問に答えられなかった場合には担当外であっても自分が少しでも知っていることであれば発言する。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :discussion2, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion2, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>  

      <%= label :confrontation2, 'Question 12 of 24' %>
      <div class="questionlist">
        自分がプレゼンテーションをした後に、同僚から良くなかった点を述べられると、心苦しくなり、今後あまり関わりたくなくなってしまう。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :confrontation2, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation2, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>        

      <%= label :trust2, 'Question 13 of 24' %>
      <div class="questionlist">
        優秀で成果をあげる社員が評価されるべきだ。本人の信条や自分との相性は評価には関係がない。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :trust2, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust2, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>            

      <%= label :decisionmaking2, 'Question 14 of 24' %>
      <div class="questionlist">
        孤独を感じたとしても、反発があったとしても、トップが強い意志で決断をすることがリーダーシップだと思う。周囲の意見に同調していては、思い切った決断はできない。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :decisionmaking2, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking2, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>          

      <%= label :responsibility2, 'Question 15 of 24' %>
      <div class="questionlist">
        自分が成果を出しても、ボーナスや昇進、評価に結びつかなくて問題はない。成果は周囲の協力によって成り立つものであり、必ずしも個人には紐づかない。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :responsibility2, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility2, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>  

      <%= label :value2, 'Question 16 of 24' %>
      <div class="questionlist">
        様々な立場の人間が集まる会議では、席順や到着順を意識し、さらに会議の議題は順守することが重要である。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :value2, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value2, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value2, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value2, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value2, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>     

      <%= label :organizationtype3, 'Question 17 of 24' %>
      <div class="questionlist">
        他部署の管理職が自分の了解なしに、自分の部下に仕事を振られることに不快だと感じる。また、自分が他部署の下位の役職の担当者に仕事を振るときは、その管理者にまず話をする。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :organizationtype3, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :organizationtype3, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>    

      <%= label :communication3, 'Question 18 of 24' %>
      <div class="questionlist">
        会議での資料や発表は、相手の受け取り方や感情を意識し、文脈や伝え方に応じてメッセージの意味や捉え方を変えられるあいまいな表現が好ましい。具体的な言葉で端的に主張することは主張の強い人だと見られ関係の悪化を招く。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :communication3, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :communication3, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>     

      <%= label :discussion3, 'Question 19 of 24' %>
      <div class="questionlist">
        色々な立場の人との会議では、他人の意見にできる限り付け加えたり、反論したりすることで、会議の成果を高めようとするべきだ。発言しない人には退出してもらいたい。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :discussion3, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :discussion3, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>

      <%= label :confrontation3, 'Question 20 of 24' %>
      <div class="questionlist">
        自身の仕事が基準を満たすものでなかったり、ミスが多ければ、それに対する指摘は上下関係に関係なく率直にすべての内容を伝えてもらいたい。ネガティブな発言を受け入れ、相手に対し嫌悪感を抱かずむしろ感謝することができる。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :confrontation3, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :confrontation3, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>       

      <%= label :trust3, 'Question 21 of 24' %>
      <div class="questionlist">
        遠方からビジネスパートナーが短期出張に来た際は、食事はデリバリー等で短くすまし夜まで会議をともにすることで、できる限りの時間を仕事の成果に結びつけるための活動に集中すべきだ。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :trust3, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :trust3, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>       

      <%= label :decisionmaking3, 'Question 22 of 24' %>
      <div class="questionlist">
        組織内で一度決定したことを変更するのは認められ難く、とても困難な作業である。決定には重みがあり、簡単に変更が発生しないようあらかじめ考えられうるリスクを網羅し検討すべきだ。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :decisionmaking3, "", 4, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :decisionmaking3, "", 0, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>    

      <%= label :responsibility3, 'Question 23 of 24' %>
      <div class="questionlist">
        自分の仕事の範囲を定義し、それに集中し成果を上げることが、組織にとっての最大の貢献と自信の生産性の最大化につながる。他人の仕事に手を出すことは組織の統率力や生産性の低下につながる。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :responsibility3, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :responsibility3, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>       
  
      <%= label :value3, 'Question 24 of 24' %>
      <div class="questionlist">
        仕事の手順やルールを守ることよりも、より効率的、効果的な方法があれば、手順やルールを逸脱してもそれを実行し成果を上げる。
      </div>
      <div class="row">  
        <div class="col s12">
          <label class="col s2">
            <%= radio_button :value3, "", 0, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value3, "", 1, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value3, "", 2, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value3, "", 3, required: true %><span> </span>
          </label>
          <label class="col s2">
            <%= radio_button :value3, "", 4, required: true %><span> </span>
          </label>
        </div>
      </div>
      <%= render 'assessment/agreetodisagreebutton' %>          

    <% if current_user.userprofile.nil? %>
      <%= render 'assessment/userprofile' %>
    <% end %>
    
    <div>
      <%= submit_tag '結果を送信する', class: "btn waves-effect waves-light btn-large light-blue" %>
    </div>

<% end %>

